SYMFONY__database_host=#database host#
SYMFONY__database_port=#database port#
SYMFONY__datrabase_name=#database name#
SYMFONY__database_user=#database user#
SYMFONY__database_password=#database password#
SYMFONY__smtp_host=#smtp host#
SYMFONY__smtp_user=#smtp user#
SYMFONY__smtp_password=#smtp password#
SYMFONY__smtp_port=#smtp port#
SYMFONY__smtp_use_ssl=#a boolean value true or false#
SYMFONY__app_name=#The name of the application#
SYMFOMY_api_call_limit=#How many hours to limit the api call#