{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

<div class="col-xs-12">
    <div class="box">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        <div class="box-body">
            {{ form_widget(form) }}
        </div>
        <div class="box-footer">
            <input type="submit" class="btn btn-primary btn-block btn-flat" value="{{ 'change_password.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
    </div>
</div>